.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.blank{
  color: greenyellow;
}

.menu{
  background-color: rgb(236, 143, 20);
  background-image: url(https://rukminim1.flixcart.com/flap/128/128/image/f15c02bfeb02d15d.png?q=100);
}

.backGroundColor{
  background-color: rgba(68, 190, 27, 0.493);
}
